<!DOCTYPE html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tech Blog Web Scraper - <%= title %></title>
    
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
    <script src="/js/jquery/jquery.js"></script>
    <script src="/js/bootstrap/bootstrap.bundle.min.js">
    
    </script>
  </head>
  <body>
    <div class="container" id="body">
      <h3 class="post-list-title"><%= title %> 기술블로그 게시글 리스트</h3>
      <div class="post-list" id="postlist">
        <!-- 최초 출력은 최근 10개까지만, 이후는 스크롤 로딩 -->
        <% for(var i = 0; i < (list.length > 10 ? 10 : list.length); ++i) { %>
          <div class="card shadow post p20m15 component">
            <div class="post-wraper">
              <h4 class="post-title" onClick="moveTo('<%=list[i]['post_url']%>', <%=list[i]['post_seq']%>)"><%=list[i]["title"]%>
                <% if(list[i]["newpost"] == "1") { %>
                  &#127381;
                <% } %>
              </h4>
              <p class="post-subtitle" onClick="moveTo('<%=list[i]['post_url']%>', <%=list[i]['post_seq']%>)"><%=list[i]["subtitle"]%></p>
              <p><%="스크랩 일자 : " + list[i]["inst_dt"].substr(0,4) + "/" + list[i]["inst_dt"].substr(4,2) + "/" + list[i]["inst_dt"].substr(6,2)%></p>
              <p><%="조회수 : " + list[i]["viewcount"]%></p>
            </div>
          </div>
        <% } %>
      </div>
      <button id="theme_btn" class="btn btn-dark" onClick="switchTheme(this.classList[1].split('-')[1])">다크 모드로 보기</button>
    </div>
    <script src="/js/theme.js"></script>
    <script>
      var moveTo = function(url, post_seq) {
        $.ajax({
                type: "post",
                url: "/createlog",
                data: {
                  "post_seq": post_seq,
                  "dtl_note": url
                },
                success: function(result) {
                  console.log(result.data);
                },
                error : function(xhr, textStatus, errorThrown) {
                  alert("failed to request.\n" + xhr.status + " " + xhr.statusText);
                }
              });
        window.open(
          url,
          '_blank'//open url in new window
        );
      };

      //scroll load
      var countAllPosts = <%=list.length%>;
      var count = 0;
      var flag_ajax = false;
      var renderPostlist = function(list) {
        var postList = document.getElementById("postlist");
        for(var i = 0; i < list.length; ++i) {
          var wrapper1 = document.createElement("div");
          wrapper1.setAttribute("class", "card shadow post p20m15 component");
          var wrapper2 = document.createElement("div");
          wrapper2.classList.add("post-wraper");

          var postTitle = document.createElement("h4");
          postTitle.classList.add("post-title");
          postTitle.setAttribute("onClick", "moveTo('" + list[i]["post_url"] + "')");
          postTitle.innerHTML = list[i]["title"];

          var postSubTitle = document.createElement("p");
          postSubTitle.classList.add("post-subtitle");
          postSubTitle.setAttribute("onClick", "moveTo('" + list[i]["post_url"] + "')");
          postSubTitle.innerHTML = list[i]["subtitle"];
          
          var scrapDate = document.createElement("p");
          scrapDate.innerHTML = "스크랩 일자 : " + list[i]["inst_dt"].substr(0,4) + "/" + list[i]["inst_dt"].substr(4,2) + "/" + list[i]["inst_dt"].substr(6,2);
          
          var viewCount = document.createElement("p");
          viewCount.innerHTML = "조회수 : " + list[i]["viewcount"];

          wrapper2.appendChild(postTitle);
          wrapper2.appendChild(postSubTitle);
          wrapper2.appendChild(scrapDate);
          wrapper2.appendChild(viewCount);
          wrapper1.appendChild(wrapper2);
          postList.appendChild(wrapper1);
        }
      };

      var printLoading = function() {
          var wrapper = document.createElement("div");
          wrapper.setAttribute("class", "card shadow loading-wrapper m15 component");
          wrapper.setAttribute("id", "loadgif");

          var loadingImg = document.createElement("img");
          loadingImg.classList.add("loading-img");
          loadingImg.setAttribute("src", "/img/loading.gif");
          wrapper.appendChild(loadingImg);
          
          document.getElementById("body").appendChild(wrapper);
      };
      var unprintLoading = function() {
        document.getElementById("loadgif").remove();
      };
      
      //onload event
      document.addEventListener("DOMContentLoaded", function() {
		    switchTheme(window.localStorage.theme);
        window.onscroll = function(e) {
          /*
          console.log("top position : " + $('body').scrollTop());
          console.log("total height : " + $(document).height());
          console.log("window height : " + $(window).height());
          */
          
          //android chrome에서 scroll load 안 되는 현상 발견,
          //원인은 document height가 보이는 것보다 더 크기 때문으로 판단됨(모바일에서는 서치바도 포함이다.)
          //android 여부 분기처리
          var diff = 0;
          if(navigator.userAgent.indexOf("Android") != -1) {
            diff = 60;
          } else if (navigator.userAgent.indexOf("iPhone") != -1) {
            diff = 60;
          }
          if($(window).scrollTop() + diff >= $(document).height() - $(window).height()){
            if(!flag_ajax) {
              var company = decodeURI(location.href.split('?')[1].split('=')[1]);
              var rowcount = document.getElementById("postlist").childElementCount;
              if(countAllPosts == rowcount) return;//이미 다 load했으면 서버 request하지 않음.
              flag_ajax = true;
              printLoading();
              $.ajax({
                type: "post",
                url: "/postList",
                data: {
                  "company": company,
                  "rowcount" : rowcount
                },
                success: function(result) {
                  renderPostlist(result.data);//이 데이터를 렌더링하자.
                  flag_ajax = false;
                  unprintLoading();
                },
                error : function(xhr, textStatus, errorThrown) {
                  alert("failed to request.\n" + xhr.status + " " + xhr.statusText);
                  flag_ajax = false;
                  unprintLoading();
                }
              });
            }
          }
        };
      });
    </script>
  </body>
</html>