<!DOCTYPE html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tech Blog Web Scraper - <%= title %></title>
    <link href="/css/style.css" rel="stylesheet"/>
	  <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet"/>
	  <script src="/js/jquery/jquery.js"></script>
	  <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <h3 class="post-list-title"><%= title %> 기술블로그 게시글 리스트</h3>
    <div class="post-list" id="postlist">
      <!-- 최초 출력은 최근 10개까지만, 이후는 스크롤 로딩 -->
      <% for(var i = 0; i < (list.length > 10 ? 10 : list.length); ++i) { %>
        
        <div class="card shadow post" style="padding: 20px; margin: 15px;">
          <div class="post-wraper">
            <h4 class="post-title" onClick="moveTo('<%=list[i]['post_url']%>')"><%=list[i]["title"]%></h4>
            <p class="post-subtitle"><%=list[i]["subtitle"]%></p>
            <p><%="스크랩 일자 : " + list[i]["inst_dt"].substr(0,4) + "/" + list[i]["inst_dt"].substr(4,2) + "/" + list[i]["inst_dt"].substr(6,2)%></p>
          </div>
        </div>
      <% } %>
    </div>
    <script>
      /*
        TODO : 1. MAKE TITLE PRETTIER
        2. SCROLL LOAD
      */
      var moveTo = function(url) {
        window.open(
          url,
          '_blank'//open url in new window
        );
      }

      //scroll load
      var count = 0;
      var flag_ajax = false;
      //onload event
      document.addEventListener("DOMContentLoaded", function() {
      
        window.onscroll = function(e) {
            //window height + window scrollY 값이 document height보다 클 경우,
            /*
            이 코드는 스크롤 하단 근접 시, 연속적으로 이벤트 발생하여 주석 처리함.
            if((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
                count++;
                console.log(count);
                
                var addContent = '<div class="block"><p>'+ count +'번째로 추가된 콘텐츠</p></div>';
                $('article').append(addContent);
            }
            */
            if($(window).scrollTop() >= $(document).height() - $(window).height()){
              //TODO
              //TODO 1. SCROLL LOAD 발동 시 DB 조회
              //TODO 2. 조회된 값을 HTML RENDERING(WITH REACT.JS)
              if(!flag_ajax) {
                var company = location.href.split('?')[1].split('=')[1];
                var rowcount = document.getElementById("postlist").childElementCount;
                flag_ajax = true;
                $.ajax({
                  type: "post",
                  url: "/postList",
                  data: {
                    "rowcount" : rowcount,
                    "company": company
                  },
                  success: function(result) {
                    console.log("scroll load completed.")
                    console.log(result.data.msg);
                    flag_ajax = false;
                  },
                  error : function(xhr, textStatus, errorThrown) {
                    alert("failed to request.\n" + xhr.status + " " + xhr.statusText);
                    flag_ajax = false;
                  }
                });
              }
            }
        };
      });
    </script>
  </body>
</html>